<div class="main-container">
  <header>
    <a [routerLink]="[ '']">
      <div class="nda-container">
        <img src="/assets/images/NDA-white.svg" alt="NDA-icon">
      </div>
    </a>

    <p class="text-header">that makes binging healthy for you that is not only authentic but also tasty</p>

    <div class="search">
      <input type="text" placeholder="You can search by ingridients or product name">
      <img src="/assets/images/Vector-black.svg" alt="">
    </div>

    <div class="menu-container">
      <img class="menu-icon" src="/assets/images/menu-black.svg" alt="menu-icon">
    </div>

    <div class="profile-container"><img class="profile-icon" src="/assets/images/profile-black.svg" alt="profile-icon">
    </div>
    <div (click)="cartShow()" class="shopping-container"><img class="shopping-icon" src="/assets/images/shopping-bag-black.svg"
        alt="shopping-icon"></div>
    <div class="cart">
      <div class="top">
        <p>Shopping cart</p>
        <p class="close-cart-btn" (click)="closeCart()">X</p>
      </div>
      <div class="products">
        <div class="empty-cart" *ngIf="isEmpty">
          <h2>The cart is empty.</h2>
        </div>
        <div class="product-container">
          <div *ngFor="let product1 of cart" class="product">
            <div class="left">
              <img height="160px" width="160px" [src]="product1.imageUrl" alt="">
            </div>
            <div class="right">
              <p class="name">{{product1.title}}</p>
              <p class="price">{{product1.price}}</p>
              <p class="description">{{product1.description}}</p>
            </div>
          </div>
        </div>

        <div class="bottom">
          <div class="bottom-top">
            <div class="left-right-container-1">
              <div class="left">
                <p class="total-text">Total</p>
              </div>
              <div class="right">
                <p class="total-price">${{totalPrice}}</p>
              </div>
            </div>

            <div class="left-right-container-2">
              <div class="left">
                <p class="deliver-text">Deliver</p>
              </div>
              <div class="right">
                <p class="taxes-text">Taxes and shipping fee will be calculated at checkout</p>
              </div>
            </div>
          </div>

          <button class="checkout-btn">Check out</button>
        </div>
      </div>
    </div>
  </header>

  <section class="section1">
    <p class="section1-text1"><span class="part1-text1">home</span>/cookies</p>
    <div class="section1-background-container">
      <div class="black"></div>
      <h1 class="section1-text2">cookie</h1>
      <p class="section1-text3">Eating healthy isn't about depriving yourself, but rather making better choices to
        keep your body energized, satisfied, and full.</p>
    </div>
  </section>

  <section class="section2">
    <div class="tastes-best-container">
      <div *ngFor="let product of products">
        <a [routerLink]="[ '/aboutProduct/', product._id]">
          <div class="product1" [style.background-color]="product.bg">
            <img width="314px" height="300px" [src]="product.imageUrl" alt="purple package" />
            <div class="lane" *ngIf="product.saleLane">
              <div class="line-text-container">
                <p class="lane-text">sale</p>
                <p class="lane-text">sale</p>
                <p class="lane-text">sale</p>
                <p class="lane-text">sale</p>
                <p class="lane-text">sale</p>
                <p class="lane-text">sale</p>

                <p class="lane-text">sale</p>
                <p class="lane-text">sale</p>
                <p class="lane-text">sale</p>
                <p class="lane-text">sale</p>
                <p class="lane-text">sale</p>
                <p>sale</p>
              </div>
            </div>
          </div>

          <div class="left-right-container">
            <div class="left">
              <p class="description-product1">{{product.title}}</p>
              <div class="pricing-container">
                <p class="price-product1">{{product.price}}</p>
                <p class="old-price-product1">{{product.oldPrice}}</p>
              </div>
            </div>
            <div class="right">
              <button class="right-btn-buy">Buy</button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="section3">
    <h2 class="section3-title">you may like</h2>
    <div class="left-right-container">
      <div class="left-container">
        <div class="left">
        </div>
        <p class="left-text1">cookies</p>
      </div>
      <div class="right-container">
        <div class="right"></div>
        <p class="right-text">didshes</p>
      </div>
    </div>
    <div class="left-right-container2">
      <div class="left"></div>
      <div class="right">
        <h3 class="right2-title">coooookies</h3>
        <p class="text1">To make healthy lifestyle attainable, we bring to you snacks that are made with pure,
          power-packed and authentic ingredients like Kale, Quinoa and super-grains like Oats and Ragi.</p>
        <p class="text2">Our products are made sans artificial flavourings, preservatives, gluten, MSG, and
          guilt which makes it easier for you to binge on it all day without having to worry about your
          health.</p>
      </div>
    </div>
    <div class="left-right-container3">
      <div class="left">
        <h3 class="left3-title">it’s only start</h3>
        <p class="text1">To make healthy lifestyle attainable, we bring to you snacks that are made with pure,
          power-packed and authentic ingredients like Kale, Quinoa and super-grains like Oats and Ragi.</p>
        <p class="text2">Our products are made sans artificial flavourings, preservatives, gluten, MSG, and
          guilt which makes it easier for you to binge on it all day without having to worry about your
          health.</p>
      </div>
      <div class="right"></div>
    </div>
  </section>

  <footer>
    <div class="nda-container">
      <img src="/assets/images/NDA-white.svg" alt="NDA-icon">
    </div>

    <div class="right-footer">
      <div class="right-footer1">
        <p class="footer-text">cookies</p>
        <p class="footer-text">candies</p>
        <p class="footer-text">dishes</p>
      </div>
      <div class="right-footer2">
        <p class="footer-text">about us</p>
        <p class="footer-text">contacts</p>
        <p class="footer-text">delivery</p>
      </div>
      <div class="right-footer3">
        <p class="footer-text">privacy policy</p>
        <p class="footer-text">terms of use</p>
      </div>
      <div>
        <p class="footer-text social-media-text">instagram</p>
        <p class="footer-text social-media-text">meta</p>
      </div>
    </div>
  </footer>

</div>
