<div class="main-container">
  <div class="input1">
    <p class="name-text">Name</p>
    <input type="text" class="name-input">
  </div>

  <div class="input2">
    <p class="weight">weight</p>
    <input type="text" class="weight-input">
  </div>

  <div class="input3">
    <p class="price-text">price</p>
    <input type="text" class="price-input">
  </div>

  <div class="input4">
    <p class="oldPrice-text">old price</p>
    <input type="text" class="oldPrice-input">
  </div>

  <div class="input5">
    <p class="bgColor1-text">background color on product top page</p>
    <input type="text" class="bgColor1-input">
  </div>

  <div class="input6">
    <p class="bgColor2-text">background color on product bottom page</p>
    <input type="text" class="bgColor2-input">
  </div>

  <div class="input7">
    <p class="bgColor-text">background color</p>
    <input type="text" class="bgColor-input">
  </div>

  <div class="input8">
    <p class="upload-image-text">Upload image</p>
    <input type="text" class="image-input">

    <!-- <input type="file" class="upload-image-input" accept="image/png, image/jpeg"> -->
  </div>

  <div class="input9">
    <div class="left">
      <p class="laneSale-text">lane sale</p>
      <input type="radio" class="laneSale-checkbox" name="checkbox">
    </div>
    <div class="right">
      <p class="laneNew-text">lane new</p>
      <input type="radio" class="laneNew-checkbox" name="checkbox">
    </div>
  </div>

  <div class="input10">
    <p class="description-text">description</p>
    <input type="text" class="description-input">
  </div>

  <input type="button" class="sumbit-btn" value="Add product" (click)="addProduct()">
</div>