@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main-container {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  header {
    width: 97%;
    height: 120px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    margin-bottom: 27px;

    .nda-container {
      background-color: #DEDEDE;
      width: 156px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 53.99px;
        height: 18.8px;
      }
    }

    .text-header {
      color: #141414;
      margin-left: 20px;
      width: 400px;
      margin-right: 45px;
      font-weight: 400;
      font-size: 22px;
      line-height: 34px;
      letter-spacing: 0.05em;
      font-family: 'Big Shoulders Text';
      text-transform: uppercase;
    }

    .search {
      position: relative;

      input {
        width: 532px;
        background-color: transparent;
        border: 1px solid #141414;
        color: #141414;
        height: 60px;
        padding-left: 20px;
        font-family: 'Nunito', sans-serif;
      }

      img {
        position: absolute;
        right: 16px;
        height: 27.75px;
        width: 27.75px;
        top: 16px;
        transition: 0.4s;
      }

      img:hover {
        filter: brightness(0) saturate(100%) invert(69%) sepia(71%) saturate(1361%) hue-rotate(60deg) brightness(103%) contrast(97%);
      }
    }


    .menu-container {
      margin-left: 40px;
      height: 100%;
      display: flex;
      align-items: center;

      .menu-icon {
        transition: 0.4s;
      }

      .menu-icon:hover {
        filter: brightness(0) saturate(100%) invert(69%) sepia(71%) saturate(1361%) hue-rotate(60deg) brightness(103%) contrast(97%);
      }
    }

    .profile-container {
      margin-left: 40px;
      height: 100%;
      display: flex;
      align-items: center;

      .profile-icon {
        transition: 0.4s;
      }

      .profile-icon:hover {
        filter: brightness(0) saturate(100%) invert(69%) sepia(71%) saturate(1361%) hue-rotate(60deg) brightness(103%) contrast(97%);
      }
    }

    .shopping-container {
      margin-left: 40px;
      height: 100%;
      display: flex;
      align-items: center;

      .shopping-icon {
        transition: 0.4s;
      }

      .shopping-icon:hover {
        filter: brightness(0) saturate(100%) invert(69%) sepia(71%) saturate(1361%) hue-rotate(60deg) brightness(103%) contrast(97%);
      }
    }
  }

  .section1 {
    width: 97%;
    color: #DEDEDE;
    margin-bottom: 35px;

    .section1-background-container {
      height: 425px;
      position: relative;
      box-sizing: border-box;
      background-repeat: no-repeat;
      object-fit: contain;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('/assets/images/section1-background.png');

      .black {
        position: absolute;
        background-color: #000000;
        opacity: 0.7;
        width: 100%;
        height: 100%;
        top: 0;
      }

      .section1-background {
        width: 100%;
      }
    }

    .section1-text1 {
      font-family: 'Roboto', sans-serif;
      margin-bottom: 8px;
      font-weight: 400;
      font-size: 12px;
      line-height: 14.06px;
      letter-spacing: 0.05em;

      .part1-text1 {
        color: #000000;
      }
    }

    .section1-text2 {
      font-weight: 800;
      font-family: 'Big Shoulders Text';
      font-size: 268px;
      line-height: 320.8px;
      text-transform: uppercase;
      position: relative;
      z-index: 2;
      margin-top: 32px;
      color: #ffffff;
      margin-bottom: 11px;
    }

    .section1-text3 {
      font-family: 'Nunito', sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 27.28px;
      letter-spacing: 0.05em;
      color: #ffffff;
      z-index: 2;
      position: relative;
      margin-left: 50px;
      width: 737px;
    }
  }

  .section2 {
    width: 97%;
    margin-bottom: 55px;

    .tastes-best-container {
      display: flex;
      justify-content: space-between;
      padding-top: 35px;

      .product1 {
        position: relative;
        margin-bottom: 18px;
        display: flex;
        margin-right: 35px;
        width: 430px;
        height: 430px;
        overflow: hidden;
        background-color: #8B84D4;
        align-items: center;
        justify-content: center;

        .lane {
          position: absolute;
          height: 100%;
          right: 24px;
          top: 0;
          width: 45px;
          background-color: #942C1E;

          .line-text-container {
            padding-left: 21px;
            padding-right: 21px;
            display: flex;
            transform: rotate(90deg);

            .lane-text {
              animation: scroll 8s linear infinite;
              font-family: 'Big Shoulders Text';
              font-weight: 800;
              font-size: 30px;
              line-height: 36px;
              letter-spacing: 0.05em;
              text-transform: uppercase;
              color: #FFFFFF;
              margin-right: 9px;
            }
          }

          @keyframes scroll {
            0% {
              transform: translateX(0);
            }

            100% {
              transform: translateX(calc(-57px * 6));
            }
          }

        }
      }

      .left-right-container {
        display: flex;
        width: 430px;
        justify-content: space-between;

        .left {
          .description-product1 {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin-bottom: 11px;
            color: #0D0D0D;
          }

          .pricing-container {
            display: flex;

            .price-product1 {
              font-family: 'Nunito';
              font-weight: 400;
              font-size: 20px;
              line-height: 27px;
              margin-right: 11px;
              color: #F75656;
            }

            .old-price-product1 {
              font-family: 'Nunito';
              font-weight: 400;
              font-size: 20px;
              line-height: 27px;
              text-decoration-line: line-through;
              color: #A2A2A2;
            }
          }
        }

        .right {
          .right-btn-buy:hover {
            background-color: #3DF21F;
            color: #000000;
            border: 1px solid #3DF21F;
          }
        }
      }

      .product1-pink {
        position: relative;
        margin-bottom: 18px;
        display: flex;
        margin-right: 35px;
        width: 430px;
        height: 430px;
        background-color: #E689B4;
        align-items: center;
        justify-content: center;

        img {
          position: relative;
          z-index: 2;
        }

        .betal-text {
          font-family: 'Big Shoulders Text';
          font-weight: 800;
          font-size: 152px;
          line-height: 182px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #DC77A5;
          position: absolute;
          transform: rotate(-90.38deg);
          left: -33px;
          z-index: 1;
        }
      }

      .left-right-container {
        display: flex;
        width: 430px;
        justify-content: space-between;

        .left {
          .description-product1 {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin-bottom: 11px;
            color: #0D0D0D;
          }

          .pricing-container {
            display: flex;

            .price-product1-pink {
              font-family: 'Nunito';
              font-weight: 400;
              font-size: 20px;
              line-height: 27px;
              margin-right: 11px;
              color: #0D0D0D;
            }

            .old-price-product1 {
              font-family: 'Nunito';
              font-weight: 400;
              font-size: 20px;
              line-height: 27px;
              text-decoration-line: line-through;
              color: #A2A2A2;
            }
          }
        }

        .right {
          .right-btn-buy:hover {
            background-color: #3DF21F;
            color: #000000;
            border: 1px solid #3DF21F;
          }
        }
      }


      .product2 {
        width: 430px;
        height: 430px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 35px;
        margin-bottom: 16px;
      }

      .left-right-container {
        width: 430px;
        display: flex;
        justify-content: space-between;

        .left {
          .description-product2 {
            width: 200px;
            font-family: 'Nunito';
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #0D0D0D;
          }

          .price-product2 {
            font-family: 'Nunito';
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            color: #0D0D0D;
            margin-top: 11px;
          }
        }

        .right {
          .right-btn-buy {
            width: 130px;
            background-color: transparent;
            height: 56px;
            border-radius: 59%;
            color: #0D0D0D;
            border: 1px solid #C9C9C9;
            transition: 0.4s;
            font-size: 20px;
          }
        }
      }

      .product2-grey {
        width: 430px;
        height: 430px;
        background-color: #D8D8D8;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 35px;
        margin-bottom: 16px;
      }

      .left-right-container {
        width: 430px;
        display: flex;
        justify-content: space-between;

        .left {
          .description-product2 {
            width: 200px;
            font-family: 'Nunito';
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #0D0D0D;
          }

          .price-product2 {
            font-family: 'Nunito';
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            color: #0D0D0D;
            margin-top: 11px;
          }
        }

        .right {
          .right-btn-buy {
            width: 130px;
            background-color: transparent;
            height: 56px;
            border-radius: 59%;
            color: #0D0D0D;
            border: 1px solid #C9C9C9;
            transition: 0.4s;
            font-size: 20px;
          }
        }
      }

      .product2-blue {
        position: relative;
        width: 430px;
        height: 430px;
        background-color: #8AC6DA;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 35px;
        margin-bottom: 16px;

        img {
          position: relative;
          z-index: 1;
        }

        .almond-text {
          position: absolute;
          color: #74B9CF;
          font-weight: 800;
          font-family: 'Big Shoulders Text';
          font-size: 94px;
          line-height: 112.52px;
          top: 20px;
          left: 23px;
          z-index: 0;
          letter-spacing: 0.05em;
          text-transform: uppercase;
        }
      }

      .left-right-container {
        width: 430px;
        display: flex;
        justify-content: space-between;

        .left {
          .description-product2 {
            width: 200px;
            font-family: 'Nunito';
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #0D0D0D;
          }

          .price-product2 {
            font-family: 'Nunito';
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            color: #0D0D0D;
            margin-top: 11px;
          }
        }

        .right {
          .right-btn-buy {
            width: 130px;
            background-color: transparent;
            height: 56px;
            border-radius: 59%;
            color: #0D0D0D;
            border: 1px solid #C9C9C9;
            transition: 0.4s;
            font-size: 20px;
          }
        }
      }

      .product3-white {
        width: 430px;
        height: 430px;
        background-color: #D8D8D8;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 15px;
        overflow: hidden;

        .lane {
          position: absolute;
          width: 100%;
          bottom: 20px;
          height: 45px;
          display: flex;
          align-items: center;
          background-color: #FFFFFF;

          .line-text-container {
            padding-left: 21px;
            padding-right: 21px;
            display: flex;

            .lane-text {
              animation: scroll 8s linear infinite;
              font-family: 'Big Shoulders Text';
              font-weight: 800;
              font-size: 30px;
              line-height: 36px;
              letter-spacing: 0.05em;
              text-transform: uppercase;
              color: #D8D8D8;
              margin-right: 9px;
            }

            @keyframes scroll {
              0% {
                transform: translateX(0);
              }

              100% {
                transform: translateX(calc(-57px * 6));
              }
            }
          }
        }
      }

      .left-right-container {
        .left {
          .description-product3 {
            width: 200px;
            font-family: 'Nunito';
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #0D0D0D;
          }

          .price-container-product3 {
            display: flex;

            .price-product3-white {
              font-family: 'Nunito';
              font-weight: 400;
              font-size: 20px;
              line-height: 27px;
              margin-right: 11px;
              color: #0D0D0D;
            }

          }
        }
      }

      .product3 {
        width: 430px;
        height: 430px;
        background-color: #567D52;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 15px;

        .lane {
          position: absolute;
          height: 100%;
          right: 24px;
          top: 0;
          width: 45px;
          background-color: #942C1E;
          overflow: hidden;

          .line-text-container {
            padding-left: 21px;
            padding-right: 21px;
            display: flex;
            transform: rotate(90deg);

            .lane-text {
              animation: scroll 8s linear infinite;
              font-family: 'Big Shoulders Text';
              font-weight: 800;
              font-size: 30px;
              line-height: 36px;
              letter-spacing: 0.05em;
              text-transform: uppercase;
              color: #FFFFFF;
              margin-right: 9px;
            }

            @keyframes scroll {
              0% {
                transform: translateX(0);
              }

              100% {
                transform: translateX(calc(-57px * 6));
              }
            }
          }
        }
      }

      .left-right-container {
        .left {
          .description-product3 {
            width: 200px;
            font-family: 'Nunito';
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin-bottom: 11px;
            color: #0D0D0D;
          }

          .price-container-product3 {
            display: flex;

            .price-product3 {
              font-family: 'Nunito';
              font-weight: 400;
              font-size: 20px;
              line-height: 27px;
              margin-right: 11px;
              color: #F75656;
            }

            .old-price-product3 {
              font-family: 'Nunito';
              font-weight: 400;
              font-size: 20px;
              line-height: 27px;
              text-decoration-line: line-through;
              color: #A2A2A2;
            }
          }
        }
      }
    }
  }

  .section3 {
    width: 97%;

    .section3-title {
      color: #333333;
      font-family: 'Big Shoulders Text';
      font-weight: 800;
      font-size: 56px;
      line-height: 67px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-bottom: 35px;
    }

    .left-right-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 55px;

      .left-container {
        width: 49%;

        .left {
          width: 100%;
          border: 4px solid #000;
          height: 320px;
          margin-bottom: 25px;
          background-repeat: no-repeat;
          object-fit: contain;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url('/assets/images/background2.png');
        }

        .left-text1 {
          font-family: 'Roboto', sans-serif;
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
        }
      }

      .right-container {
        width: 49%;

        .right {
          width: 100%;
          height: 320px;
          border-bottom: 4px solid #000;
          margin-bottom: 25px;
          background-repeat: no-repeat;
          object-fit: contain;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url('/assets/images/background-right-section3.png');
        }

        .right-text {
          font-family: 'Roboto', sans-serif;
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
        }
      }
    }

    .left-right-container2 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 55px;

      .left {
        width: 49%;
        background-repeat: no-repeat;
        object-fit: contain;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/assets/images/background3.png');
        height: 480px;
      }

      .right {
        width: 49%;

        .right2-title {
          color: #0D0D0D;
          font-family: 'Big Shoulders Text';
          font-weight: 800;
          font-size: 56px;
          line-height: 67.03px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          margin-bottom: 35px;
        }

        .text1 {
          width: 660px;
          font-family: 'Nunito';
          font-weight: 400;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0.05em;
          color: #0D0D0D;
          margin-bottom: 10px;
        }

        .text2 {
          font-family: 'Nunito';
          font-weight: 400;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0.05em;
          color: #0D0D0D;
          width: 660px;
        }
      }
    }

    .left-right-container3 {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 55px;

      .left {
        width: 49%;

        .left3-title {
          font-family: 'Big Shoulders Text';
          font-weight: 800;
          font-size: 56px;
          line-height: 67px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #0D0D0D;
          margin-bottom: 35px;
        }

        .text1 {
          font-family: 'Nunito';
          font-weight: 400;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0.05em;
          color: #0D0D0D;
          width: 660px;
          margin-bottom: 10px;
        }

        .text2 {
          font-family: 'Nunito';
          font-weight: 400;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0.05em;
          color: #0D0D0D;
          width: 660px;
        }
      }

      .right {
        width: 49%;
        background-repeat: no-repeat;
        object-fit: contain;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/assets/images/background4.png');
        height: 313px;
      }
    }
  }

  footer {
    width: 96%;
    border-top: 4px solid #141414;
    padding-top: 45px;
    padding-bottom: 40px;
    display: flex;

    .nda-container {
      margin-right: 185px;
      background-color: #DEDEDE;
      width: 156px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 53.99px;
        height: 18.8px;
      }
    }

    .right-footer {
      display: flex;

      .right-footer1 {
        margin-right: 111px;
      }

      .right-footer2 {
        margin-right: 114px;
      }

      .right-footer3 {
        margin-right: 110px;
      }

      .footer-text {
        font-family: 'Big Shoulders Text';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #141414;
        margin-bottom: 25px;
        transition: 0.4s;
      }

      .social-media-text {
        font-size: 25px;
      }

      .footer-text:hover {
        cursor: pointer;
        color: #3DF21F;
      }
    }
  }
}
